@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 20% 96%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 267 38% 43%;
    --primary-foreground: 0 0% 29%;

    --secondary: 275 31% 58%;
    --secondary-foreground: 300 0% 57%;

    --muted: 275 31% 58%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 275 31% 58%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 275 31% 58%;
    --input: 275 31% 58%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 266 26% 24%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 284 28% 34%;
    --primary-foreground: 0 0% 100%;

    --secondary: 287 26% 47%;
    --secondary-foreground: 270 1% 55%;

    --muted: 287 26% 47%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 287 26% 47%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 287 26% 47%;
    --input: 287 26% 47%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}